{
    "parser": "babel-eslint",
    "extends": ["airbnb", "airbnb-base", "eslint:recommended"],
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "react/forbid-prop-types": 0,
        "react/no-console": 0,
        "jsx-indent": 0
    }
}